name: Build CI

on:
  push:
  pull_request:
  release:
    types: [published]
  check_suite:
    type: [rerequested]

jobs:
  ansible-recipe-test:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2.2.0
      with:
        fetch-depth: 0
        submodules: true
    - name: Install ansible pre-req
      run: sudo apt-get install -yq python3-setuptools
    - name: Install ansible
      run: |
        sudo pip3 install --upgrade pip
        pip3 install ansible
    - name: Ansible syntax check
      run: |
        ansible-playbook --syntax-check cbl-mariner_builder.yml
    - name: Running Ansible builder
      run: |
        ansible-playbook cbl-mariner_builder.yml
    - name: Checking correct CBL-Mariner version
      run: |
        cd CBL-Mariner
        git checkout 1.0-stable
    - name: Start building process
      run: |
        cd CBL-Mariner
        cd toolkit
        sudo make image REBUILD_TOOLS=y REBUILD_PACKAGES=n CONFIG_FILE=./imageconfigs/core-efi.json
        sudo make image REBUILD_TOOLS=y REBUILD_PACKAGES=n CONFIG_FILE=./imageconfigs/core-legacy.json
        sudo make meta-user-data
    - name: Checking output
      run: |
        cd CBL-Mariner
        tree out/images/
